<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DB connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/travel_service?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Update schema automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Scan annotated classes -->
        <mapping class="org.example.provider.entity.User"/>
        <mapping class="org.example.provider.entity.Role"/>
        <mapping class="org.example.provider.entity.Rating"/>
        <mapping class="org.example.provider.entity.PlaceInformation"/>
        <mapping class="org.example.provider.entity.PlaceImage"/>
        <mapping class="org.example.provider.entity.Place"/>
        <mapping class="org.example.provider.entity.Permission"/>
        <mapping class="org.example.provider.entity.Comment"/>
    </session-factory>
</hibernate-configuration>
